<div class="container">
  <div class='left-container' style='float:left;width:70%'>
    <button class='finish' style='display:none'>Finish Dish</button>
    <a class='new-dish' href="<%=new_dish_path %>">Add Dish!</a>
  </div>

  <div class='right-container' style='float:right;width:30%;'>
    <%= render @dishes %>
  </div>
</div>