<div class='new-dish-container in'>
  <div>
    <b>To get started, Enter the name of your dish below!</b>
  </div>
  <div>
    <%= form_for @dish, html: {class: 'new-dish-form'} do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>