<div>
  <div>
    <b>Dish Name:</b>
  </div>
  <div>
    <%= form_for @dish do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>